# 虚拟环境
deepseek_vl_env/

# 忽略所有 .env 文件
.env

blip2_model/model.safetensors


deepseek_vl_chat_model/

qwen2_5_vl_7b_instruct/
pointllm_7b_v1_2/
PointLLM/
GPT4Point/
gpt4point_weight/


.pointllm_venv/
.gpt4point_venv/

ply-tag-file/
video-tag-file/
image-tag-file/
